
@{
    ViewData["Title"] = "About";
}
<div id="mainindex" style="font-weight: bold">
<h1>About<img src="~/images/headerlogo.png" height="50" width="70"/></h1>


<div>
    <p>
        Webkinz is a stuffed animal franchise by Ganz, consisting of stuffed animals that have two playable online counterparts, "Webkinz Classic" and "Webkinz Next". 
        Webkinz was originally released by the Canadian toy company Ganz on April 29, 2005. The toys are similar to many other small plush toys; however, each Webkinz toy 
        has an attached tag with a unique "Secret Code" printed on it that allows its owner to play with their pet in the "Webkinz Classic" game for iOS, Android, and desktop 
        computer. Webkinz plush toys sold after October 2020 contain two Secret Codes, one eight-digit code compatible with "Webkinz Classic" and one 15-digit code compatible 
        with "Webkinz". On Webkinz World, the Secret Code allows the user to own a virtual version of the pet for online play. Many collections of Webkinz were sold, such as 
        Lil' Kinz (smaller, less expensive versions of Webkinz), and the Signature collection (larger, higher-quality, and slightly more expensive Webkinz). There is also a 
        spin-off, Webkinz Jr.; which is aimed at children ages 3–6. Sales of plush Webkinz toys are limited to the United States and Canada, but international users can buy 
        virtual pets from the online eStore. In 2006, Webkinz had one million online accounts, and according to one estimate published in Wired they made $100 million in 2006.
        In 2011, Webkinz made its first commercial on TV. Webkinz was updated in 2015 to Webkinz X, making it more kid-friendly. In October 2020, Webkinz unveiled a new logo, 
        introduced babies and began to transition to a 3D version with more social features.
    </p>
    <p>
        There are many types of Webkinz: regular pets, wild animals, mythical creatures, and made-up ones. They all come with codes that can be entered on the computer or phone 
        on each downloadable game. Along with the regular Webkinz toys, there are also smaller, less expensive versions called Lil' Kinz, as well as larger, slightly more 
        expensive versions in the Signature collection launched in April 2009. The Signature collection later ended in December 2013. In May 2009, Birthstone Pets were released. 
        One new Birthstone Pet was released for every month. In April 2010, Ganz replaced the Birthstone Pets with the Zodiac Pets. Again, one Zodiac Pet was released every month. 
        In 2011, CandyKinz were released. In June 2012, Rockerz Pets were released. In 2019, Ganz announced that no new plush pets would be released, but purely virtual pets can 
        still be purchased, accounts can be made, and the website still operates. In November 2020, two new Webkinz pets were released, starting a new "generation" of pets. 
        These new plus included two codes, one for Webkinz Classic, and Webkinz, and are only available to purchase online.
    </p>
    <p>
        <a href="https://en.wikipedia.org/wiki/Webkinz">Source</a> | <a href="https://www.webkinz.com/">Come Join the Fun!</a>
    </p>
</div>
</div>
